.integration-section {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #00FFDA, #038774);
    color: white;
}

.integration-section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.integration-section p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

.ai-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ai-item {
    width: 180px;
    height: 180px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.ai-item:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.ai-item img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.ai-item span {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}  


@media (max-width: 1100px) {

    .integration-section {
        padding: 80px 20px;
    }
    
    .integration-section h1 {
        font-size: 1.9rem;
    }
    
    .integration-section p {
        font-size: 0.9rem;
        font-weight: 300;
    }

    .ai-item {
        width: 130px;
        height: 130px;
    }

    .ai-item img {
        width: 50px;
        height: 50px;
        margin-bottom: 12px;
    }

    .ai-item span {
        font-size: 0.9rem;
    }  
    
}

@media (max-width: 575px) {

    .integration-section {
        padding: 70px 15px;
    }
    
    .integration-section h1 {
        font-size: 1.4rem;
    }
    
    .integration-section p {
        font-size: 0.85rem;
        font-weight: 400;
    }

    .ai-item {
        width: 110px;
        height: 110px;
    }

    .ai-item img {
        width: 35px;
        height: 35px;
        margin-bottom: 12px;
    }

    .ai-item span {
        font-size: 0.9rem;
    }  
    
}